<launch>
	<arg name="teleop" default="1" />
	<arg name="record" default="1" />
	<arg name="laser" default="1" />
	
	<!-- rosserial launch file for nova core -->
	<include file="$(find rosserial_core)/launch/serial_node.launch">
		<arg name="port" value="/dev/novaCore" />
	</include>
	
	<!-- status node -->
<!--	<node pkg="triskar" type="status.py" name="status"/>
-->	
	
	<!-- joy node -->
	<node respawn="true" pkg="joy" type="joy_node" name="joy_node" if="$(arg teleop)">
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.0" />
		<param name="autorepeat_rate" value="100.0" />
	</node>
	
	<!-- triskar teleop node -->
	<rosparam file="$(find triskar)/params/teleop_triskarone.yaml" command="load" ns="triskar_teleop" if="$(arg teleop)"/>
	<node pkg="teleop_twist_joy" type="teleop_node" name="triskar_teleop" if="$(arg teleop)"/>
	
	<node pkg="odometry_publisher_tutorial" type="odometry_publisher" name="odometry_publisher"/>
	
	<include file="$(find triskar)/launch/hokuyo_nodes.launch"/>
	
</launch> 
