<launch>
	<arg name="teleop" default="1" />
	<arg name="record" default="1" />
	
	<!-- rosserial launch file for nova core -->
	<include file="$(find rosserial_core)/launch/serial_node.launch" />
	
	<!-- status node -->
	<node pkg="triskar" type="status.py" name="status"/>

	<!-- joy node -->
	<node respawn="true" pkg="joy" type="joy_node" name="joy_node" if="$(arg teleop)">
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.1" />
		<param name="autorepeat_rate" value="10.0" />
	</node>

	<!-- triskar teleop node -->
	<rosparam file="$(find triskar)/params/teleop.yaml" command="load" ns="triskar_teleop" if="$(arg teleop)"/>
	<node pkg="teleop_twist_joy" type="teleop_node" name="triskar_teleop" if="$(arg teleop)"/>
	
	<!-- triskar pixy teleop node -->
	<rosparam file="$(find triskar)/params/pixy.yaml" command="load" ns="triskar_pixy" if="$(arg teleop)"/>
	<node pkg="triskar" type="teleop_pixy_joy" name="triskar_pixy" if="$(arg teleop)"/>
	
	<!-- record node launch file -->
	<include file="$(find record_ros)/launch/record_ros.launch" if="$(arg record)">
		<arg name="path_save" value="/home/airlab/test" />
		<arg name="file_name" value="triskar" />
	</include>
</launch> 
